<fieldset>
  <legend>Pessoa</legend>
  Nome: <input [(ngModel)]="pes.nome" ><br>
  Sobrenome: <input [(ngModel)]="pes.sobrenome"><br>
    Sexo: <select [(ngModel)]="pes.sexo">
        <option *ngFor="let index of sexos ; let i=index">{{index}}</option>
    </select>
    <button (click)="salvar()">Salvar</button>
    
  
</fieldset>
<table>
  <thead>
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Sexo</th>
        <th>Ações</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of listaPessoas; let i=index">
          <td>{{item.nome}}</td>
          <td>{{item.sobrenome}}</td>
          <td>{{item.sexo}}</td>
          <td >
              <button  (click)="excluir(item.id)">Excluir</button>
              <button (click)="alterar()">Alterar</button>
              
          </td>
      </tr>

  </tbody>

</table>

