

      <img class="img-fluid d-block mx-auto" src="{{fil.Poster}}">

  <div style="text-align: center">

    <p>Title: {{fil.Title}}</p>
    <p>Year: {{fil.Year}}</p>
    <p>Rated: {{fil.Rated}}</p>
    <p>Release Date: {{fil.Released}}</p>
    <p>Duration: {{fil.Runtime}}</p>
    <p>Genre(s): {{fil.Genre}}</p>
    <p>Director: {{fil.Director}}</p>
    <p>Actors: {{fil.Actors}}</p>
    <p>Plot: {{fil.Plot}}</p>
    <p>Language: {{fil.Language}}</p>
    <p>Country: {{fil.Country}}</p>
    <p>Awards: {{fil.Awards}}</p>
    <p>Metascore: {{fil.Metascore}}</p>
    <p>IMDB Rating: {{fil.imdbRating}}</p>
    <p>Box Office: {{fil.BoxOffice}}</p>
    <p>Production: {{fil.Production}}</p>
    
    
  </div>