<table class="table table-bordered table-hover table-condensed">
    <tr>
        <th>Cpf</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cep</th>
        <th>Logradouro</th>
        <th>Numero</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Uf</th>
        <th>Ações</th>
    </tr>



    <tr *ngFor="let p of pessoas">
        <td>{{p.cpf}}</td>
        <td>{{p.nome}}</td>
        <td>{{p.email}}</td>
        <td>{{p.endereco.cep}}</td>
        <td>{{p.endereco.logradouro}}</td>
        <td>{{p.endereco.numero}}</td>
        <td>{{p.endereco.complemento}}</td>
        <td>{{p.endereco.bairro}}</td>
        <td>{{p.endereco.cidade}}</td>
        <td>{{p.endereco.uf}}</td>
        <td><button (click)="excluir(p.cpf)">Excluir</button> <button (click)="alterar(p)" routerLink="/pessoa/create">Alterar</button></td>
    </tr>

</table>